@import "../components/_header";
@import "../components/_navbar";
@import "../components/footer";

    /* CARRUSEL */
    
    .carousel-inner{
        height: 500px;
    }
    
    .carousel-item{
        height: 500px;
    }
    
    .carrusel-h1{
        font-weight: bold;
        font-size: 40px;
    }
    
    .carrusel-p{
        font-size: 20px;
    }
    
    /* CONTENIDO */
    
    .background-aplicacion{
        background-color: $lightgrey
    }
    
    .aplicacion-titulo {
    font-weight: bold;
    font-size: 35px;
    padding: 20px;
    @extend %flex;
    }
    
    .aplicacion-contenido {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    padding: 10px 25px;
    }
    
    .background-shma{
        background-color: white;
    }
    
    .seguridadhigiene-titulo {
        @extend %flex;
        font-size: 20px;
        padding: 20px;
    }
    
    .seguridadhigiene-contenido {
        display: flex;
        justify-content: center;
        text-align: center;
        color: $lightgreen;
        font-weight: bold;
        font-size: 13px;
        padding-bottom: 10px;
        padding-left: 20px;
    }
    
    .medioambiente-titulo {
        @extend %flex;
        font-size: 20px;
        padding: 20px;
    }
    
    .medioambiente-contenido {
        display: flex;
        justify-content: center;
        text-align: center;
        color: $lightgreen;
        font-weight: bold;
        font-size: 13px;
        padding: 0px 30px 10px;
    }
    
    /* PRESUPUESTO */
    
    .background-presupuesto{
        background-color: #3a5371;
    }
    
    .presupuesto-titulo {
        color: white;
        font-weight: bold;
        font-size: 30px;
        padding: 20px;
        margin: 0;
    }
    
    .fila-presupuesto{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0px 0px 20px 0px;
        width: 100%;
    }
    
    .presupuesto{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    
    .position-relative{
        margin: 10px 10px 3px 10px;
    }

    .boton-presupuesto{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }

    .btn-primary {
        background-color: map-get($boton, bg-boton);
        border: map-get($boton, border-boton);
        color: map-get($boton , color-text);
        font-size: map-get($boton, font-size);
    }

    .form-label{
        padding: 5px;
        margin: 0px;
        font-size: 13px;
    }


    @media screen and (min-width: 577px) and (max-width: 768px) {

        .carousel-inner{
            height: 250px;
        }
        
        .carousel-item{
            height: 250px;
        }
    
        .seguridadhigiene-contenido {
            padding: 0px 30px 0px;
        }

        .carrusel-h1{
            font-size: 30px;
        }

        .carrusel-p{
            font-size: 15px;
        }

        .aplicacion-titulo{
            font-size: 30px;
            margin: 0px;
        }

        .presupuesto-titulo{
            padding: 20px 0px 0px;
        }

        .fila-presupuesto{
            padding: 20px;
        }
    
        .form-label{
            font-size: 13px;
            justify-content: center;
        }
    
        .position-relative{
            width: 60%;
        }
    
        .footer .formulario-texto .form-input{
            justify-content: center;
        }

        .footer .formulario-texto .form-input .form-control{
            width: 50%;
        }   
    }



