@import "../base/_variables";
@import "../base/extends";
@import "../base/mixin";

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 175px;

    .logo{
        height: 85%;
        object-fit: scale-down;
        @extend %flex;
    }

    .background-inicio{
        background-color: $lightgrey;
    }

    .ubicacion{
        @extend %flex;
        height: 100%;
    
        .ubicacion-logo {
            @include logo (45px, 45px, scale-down, 15px, 5px)
        }
    
        .ubicacion-texto {
            .ubicacion-titulo {
                font-weight: bold;
                text-align: center;
                font-size: 24px;
            }
            
            .ubicacion-contenido {
                text-align: center;
            }
        }
    }

    
    .medios{
        @extend %flex;
        height: 100%;
    
        .medios-logo {
            @include logo (45px, 45px, scale-down, 15px, 5px)
        }

        .medios-texto{
            .medios-telefono {
                font-weight: bold;
                text-align: center;
                font-size: 24px;
            }
            
            .medios-mail {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 576px){
    .header{
        height: auto;
    }
}

