@import "../base/_variables";
@import "../base/mapas";
@import "../base/extends";
@import "../base/mixin";

.background-nav{
    background-color: $lightgreen;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: white;
    font-size: 15px;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
    font-size: 15px;
}

.font-nav{
    font-weight: bold;
}

.seh{
    font-size: 15px;
    font-weight: bold;
    color: $lightgreen;
}

.ma{
    font-size: 15px;
    font-weight: bold;
    color: $lightgreen;
}


@media screen and (min-width: 577px) and (max-width: 768px) {

    .row, .row > *, .container-fluid {
        width: 100%;
    
        .navbar>.container-fluid {
            align-items: flex-start;
            padding: 5px;
        }
    
        .navbar-light .navbar-toggler {
            margin-left: 15px;
        }
    
        .navbar-nav{
            padding-left: 15px;
        }
    }
}